nav, footer {
	content: '';
	display: flex;
	top: 0;
	height: auto;
	flex-wrap: wrap;
	font-size: 0px;
	padding: 0;
	position: relative;
	align-items: center;
	justify-content: center;
}

.bar-front {
	flex: 1 0 auto;
	flex-wrap: wrap;
}

@media screen and (min-width: 816px) {
	.bar-front {
		display: none;
	}
}

@media screen and (max-width: 816px) {
	.bar-front {
		display: hidden;
	}
}

.bar-middle {
	flex: 1 1 auto;
	flex-wrap: wrap;
}

.navbar-logo {
	height: 40px;
	padding: 8px 0px 8px 8px;
}

.bar-right {
	flex-wrap: nowrap;
	padding: 0;
	right: 0;
}

.navbar-item {
	flex-wrap: nowrap;
	display: inline-block;
	transition-duration: 0.1s;
	text-align: center;
	width: 136px;
	position: relative;
}

.navbar-dropdown-item {
	flex-wrap: nowrap;
	transition-duration: 0.1s;
	text-align: left;
	float: right;
	clear: both;
	width: 100%;
	width: 136px;
}

.navbar-item > a, .navbar-dropdown-item > a {
	text-decoration: none;
	font-weight: bold;
	color: #b6d1ff;
	font-family: 'Bebas Neue Book';
	letter-spacing: 0.05em;
	display: inline-block;
	padding: 16px;
}

.navbar-item > a {
	font-size: 20px;
}

.navbar-dropdown-item > a {
	font-size: 15px;
}

.navbar-dropdown {
	visibility: hidden;
	opacity: 0;
	display: none;
	padding: 0;
	margin-top: 0rem;
	transition: all 0.1s ease;
	position: absolute;
	background-color: #0b0c15df;
}

.navbar-item:hover, .navbar-dropdown-item:hover {
	background-color: #ffffff1f;
	cursor: pointer;
}

.navbar-item-selected:after {
	content: '';
	display: block;
	border: solid;
	border-width: 2px;
	border-radius: 2px;
	margin: auto;
	margin-bottom: -8px; /*set to double border-width plus margin-top*/
	margin-top: 4px;
	height: 0px;
	width: 50%;
}

.navbar-item:hover > .navbar-dropdown, .navbar-dropdown:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.footer-item {
	flex-wrap: nowrap;
	display: inline-block;
	transition-duration: 0.1s;
	text-align: center;
	width: 96px;
	position: relative;
	margin-bottom: 16px;
}

.footer-item > a {
	text-decoration: none;
	color: #b6d1ff;
	display: inline-block;
	font-size: 16px;
}