@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/bebas-neue/bebas-neue.woff2') format('woff2'),
         url('fonts/bebas-neue/bebas-neue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('fonts/bebas-neue/bebas-neue-book.woff2') format('woff2'),
         url('fonts/bebas-neue/bebas-neue-book.woff') format('woff');
    font-weight: normal;
    font-style: norsmal;
	size-adjust: 125%;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('fonts/neutra-text/neutra-text.woff2') format('woff2'),
         url('fonts/neutra-text/neutra-text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('fonts/minecraftia/minecraftia.woff2') format('woff2'),
         url('fonts/minecraftia/minecraftia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
	background-image: url("images/background.png");
	background-color: #0b0c15;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

/*@media screen and (min-width: 1024px) {
	html {
		margin-left: calc(100vw - 100%);
		margin-right: 0;
	}
}*/

body {
	min-width: 408px;
	max-width: 1024px;
	color: #ffffff;
	font-size: 18px;
	font-family: Arial;
	margin: auto;
	overflow: overlay;
}

.content {
	margin: 32px;
	opacity: 1;
}

.content:not(.active-content) {
	display: none;
	opacity: 0;
}


h1, h2, h3, h4, h5, h6 {
	color: #b6d1ff;
	font-family: 'Bebas Neue Book';
	letter-spacing: 0.1em;
}

h1 {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

h2 {
	margin-top: 0.625em;
	margin-bottom: 0.3125em;
}

h3 {
	margin-top: 0.75em;
	margin-bottom: 0.375em;
}

h4 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h5 {
	margin-top: 1.25em;
	margin-bottom: 0.625em;
}

h6 {
	margin-top: 1.75em;
	margin-bottom: 0.875em;
}

p {
	margin-top: 0.75em;
	margin-bottom: 0.375em;
	line-height: 150%;
}

p > a {
	text-decoration: none;
	color: #b6d1ff;
}

.center-text {
	text-align: center;
}

.center-image {
	min-width: 408px;
	margin-left: auto;
	margin-right: auto;
}

.center-image > img {
	width: 100%;
}

.home-logo {
	max-width: 640px;
}

.square-logo {
	max-width: 408px;
}

.quest-image {
	max-width: 800px;
}

.map-image {
	max-width: 640px;
}

.bags-image {
	max-width: 864px;
	image-rendering: pixelated;
}

.bag-image {
	max-width: 256px;
	image-rendering: pixelated;
}

.items-image {
	max-width: 720px;
	image-rendering: pixelated;
}

.tinkers-image {
	max-width: 832px;
	image-rendering: pixelated;
}

.quest-description {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	max-width: 800px;
}

.map-description {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	max-width: 768px;
}

.bag-description {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	max-width: 768px;
}

.items-description {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	max-width: 720px;
}

.tinkers-description {
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	max-width: 832px;
}